<div class="page-header">
    <h1 class="page-header__text">
        {{title}}
    </h1>
</div>

<div class="row contact-page">
    <div class="contact-page__item-container col-sm-3 col-xs-6">
        <a href="https://www.linkedin.com/in/richard-honor-109730a0/">
            <div class="contact-page__icon icon-linkedin"></div>
            <div class="contact-page__link">LinkedIn</div>
        </a>
    </div>
    <div class="contact-page__item-container col-sm-3 col-xs-6">
        <a href="https://www.github.com/RMHonor">
            <div class="contact-page__icon icon-github"></div>
            <div class="contact-page__link">Github</div>
        </a>
    </div>
    <div class="contact-page__item-container col-sm-3 col-xs-6">
        <a href="mailto:me@r-honor.uk">
            <div class="contact-page__icon icon-email"></div>
            <div class="contact-page__link">me@r-honor.uk</div>
        </a>
    </div>
    <div class="contact-page__item-container col-sm-3 col-xs-6">
        <a>
            <div class="contact-page__icon icon-phone"></div>
            <div class="contact-page__link">07742 672145</div>
        </a>
    </div>
</div>
