@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

$fontstack: "Open Sans", Arial, sans-serif;
$fontstack-bold: "Open Sans Bold", Arial, sans-serif;

* {
    font-family: $fontstack;
}
