@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$fontstack: "Roboto", Helvetica Neue, sans-serif;
$fontstack-bold: "Roboto", Helvetica Neue, sans-serif;

* {
    font-family: $fontstack;
}