@import '../../assets/style/settings/colours';
@import '../../assets/style/settings/shadow';

$mobile-break: 750px;
.splash {
    text-align: center;

    &__header {
        font-size: 45px;
        margin: 34px 0;

        &:before, &:after {
            content: '';
            display: block;
            width: 30%;
            height: 2px;
            margin: 2px auto;

            background-color: white;
        }
    }

    &__self-img {
        $diameter: 300px;

        width: $diameter;
        height: $diameter;
        border-radius: 100%;
        border: 3px solid $colour-primary-light;
        position: relative;
        padding: 8px;
        overflow: hidden;

        background: no-repeat center url('../../assets/images/self.jpg');

        @include shadow(8);
    }
}