<div class="page-header">
    <h1 class="page-header__text">
        {{title}}
    </h1>
</div>

<div class="splash">
    <div class="splash__header-wrapper">
        <h2 class="splash__header">{{header}}</h2>
        <p class="splash__intro">
            {{intro}}
        </p>
    </div>
    <div class="splash__self-img-wrapper">
        <div class="splash__self-img"></div>
    </div>
    <a
        class="splash__github-img-wrapper"
        href="https://www.github.com/RMHonor"
    >
        <div class="splash__side-img splash__github-img"></div>
    </a>
    <a
        class="splash__linkedin-img-wrapper"
        href="https://www.linkedin.com/"
    >
        <div class="splash__side-img splash__linkedin-img"></div>
    </a>
</div>
