<div class="page-header">
    <h1 class="page-header__text">
        {{title}}
    </h1>
</div>

<div class="splash">
    <div class="splash__header-wrapper">
        <h2 class="splash__header">{{header}}</h2>
    </div>
    <!--<div class="splash__image-table">-->
        <div class="splash__self-img-wrapper">
            <div class="splash__self-img"></div>
        </div>
        <div class="splash__github-img-wrapper">
            <div class="splash__github-img"></div>
        </div>
        <div class="splash__linkedin-img-wrapper">
            <div class="splash__linkedin-img"></div>
        </div>
    <!--</div>-->
</div>