<div
    class="sidenav"
    *ngIf="showNav"
    [@leftSlide]>
    <div class="sidenav__logo-wrapper">
        <img src="../../assets/images/logo.png" class="sidenav__logo"/>
    </div>

    <div>
        <p class="sidenav__heading">
            Richard Honor
        </p>
    </div>
    <ul class="sidenav__list">
        <li
            *ngFor="let link of links"
            class="sidenav__link"
            routerLink="{{link.route}}"
            routerLinkActive="sidenav__link--active"
            (click)="toggleNav(false)"
        >
            {{link.name}}
        </li>
    </ul>
</div>

<div
    class="sidenav__page-filter"
    *ngIf="showNav"
    (click)="toggleNav(false)"
></div>

<div
    class="sidenav__menu-toggle"
    (click)="toggleNav(!navSelected)">
    <span *ngFor="let i of [0,1,2]" [ngClass]="{'sidenav--toggled': navSelected}"></span>
</div>

