<div
    class="sidenav"
    *ngIf="showNav"
    [@enterAnimation]>
    <div class="sidenav__logo-wrapper">
        <img src="./assets/images/logo.png" class="sidenav__logo"/>
    </div>

    <div>
        <p class="sidenav__heading">
            Richard Honor
        </p>
    </div>
</div>

<div
    class="sidenav__page-filter"
    *ngIf="showNav"
    (click)="toggleNav(false)"
    [@enterAnimation]
></div>

<div
    class="sidenav__menu-toggle"
    (click)="toggleNav(!navSelected)">
    <span [ngClass]="{'sidenav--toggled': navSelected}"></span>
    <span [ngClass]="{'sidenav--toggled': navSelected}"></span>
    <span [ngClass]="{'sidenav--toggled': navSelected}"></span>
</div>

