@import '../settings/settings';

.page-header {
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;

    background-color: $colour-heading;

    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);


    &__text {
        font-size: 31px;
        font-weight: 400;
        color: $colour-heading-text;
    }
}

@media (max-width: 959px) {
    .page-header {
        padding-left: 80px;
    }
}
